<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking app</title>
    <link rel="stylesheet" href="css/payment-styles.css">
    <link rel="icon" href="css/images/favicon.ico">
    <a href="/" class="button">WSTECZ</a>
    <p></p>
</head>
<body id="payment-page">
<header>
    <h1>PŁATNOŚĆ</h1>
</header>
<div class="content">
        <p></p>
    <form action='/payment' method="POST">
        <input type="text" id='plates' name="inputPlates" pattern="[A-Za-z0-9]+" placeholder="Wprowadź numer tablic rejestracyjnych">

        <p></p>
        <button class="button" id="submitPlates" type="submit">WPROWADŹ</button>
    </form>
    {% if "payPlates" in session: %}
        <p>Samochód: {{resultPlates}}</p>
    {% endif %}

    {% if result1 and result1 is number %}
        <p>Do zapłaty: {{result1}}zł</p>
    {% elif result1 == 0 %}
        <p>Do zapłaty: {{result1}}zł</p>
    {% elif result1 and result1 is string %}
        <p>INFO: {{result1}}</p>
    {% endif %}
    {% if result2 %}
        <p>{{result2}}</p>
    {% endif %}
    <form action='/paymentCar' method="POST">
        <input type="number" id="payment" name="inputAmount" placeholder="Wprowadź kwotę">
        <button class="button" id="submitMoney" type="submit">ZAPŁAĆ</button>
    </form>

</div>
</body>
</html>